[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/ulrichmonji/ansible_role_nginx.git
[submodule "roles/webapp"]
	path = roles/webapp
	url = https://github.com/ulrichmonji/ansible_role_webapp.git
